.content {
  display: flex;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0;

    cursor: default;
    border-radius: 20px;

    &[data-size='small'] {
      gap: 4px;
      padding: 4px 8px;
      font-size: 12px;
    }

    &[data-size='medium'] {
      gap: 8px;
      padding: 8px 12px;
      font-size: 14px;
    }

    &[data-size='large'] {
      gap: 16px;
      padding: 10px 16px;
      font-size: 16px;
      border-radius: 30px;
    }

    &[data-border='true'] {
      border: 1px solid;
    }
  }
}
